<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Call for Participation</h3>
      
      <p><strong>Mutation testing</strong> is a fault-based verification technique, which is most often applied to assess the efficacy of test sets. Mutation testing is widely used in software testing research for evaluating testing techniques, and is increasingly used for testing artefacts other than source code. Mutation testing involves seeding faults into a system-under-test and observing the extent to which the faults are detected by a test set.</p>

      <p><strong>Model transformation</strong> -- characterised as the heart-and-soul of model-driven engineering by Sendall and Kozaczynski  -- provides theory, principles and tools for specifying and performing change in a structured, repeatable and automated manner. Research in model transformation is now addressing issues such as incrementality (minimising the amount of computation necessary to propagate changes between artefacts), scalability (application to extremely large and possibly infinite models), and verifiability (techniques for demonstrating the correctness of transformation).</p>

      <p><strong>The Mutation Testing and Model Transformation (MT^2) workshop</strong> will identify how mutation testing and model transformation could be used together, using a highly interactive format in the spirit of a Schloss Dagstuhl seminar. The workshop will comprise mini-tutorials on mutation testing and on model transformation; position statements from participants; and then opportunities to discuss and develop the following and other topics:</p>

      <ul>
        <li>The design of effective mutation operators for model transformation languages, and other domain-specific programming languages.</li>
        <li>The use of model transformation for specifying and applying program transformations (e.g., mutation, testability transformation).</li>
        <li>The role of mutation testing at runtime, particularly for domain-specific (modelling) languages.</li>
        <li>Practical applications that are low-hanging and could be good tests of the potential</li>
        <li>...</li>
      </ul>

      <h4>Application Process</h4>      
      <p>To participate in MT^2, we ask that you submit in advance of the workshop a short presentation (maximum 5 slides). The presentations will be given in the initial round of introductions at the workshop. Therefore, your presentation should:</p>

      <ul>
        <li>summarise your current work, and states your current position (e.g., PhD student, assistant professor, software developer)</li>
        <li>describe your interest in mutation testing and/or model transformation</li>
        <li>state what you would like to achieve by attending the workshop</li>
      </ul>

      <p>Please submit a PDF of your presentation via <a href="https://www.easychair.org/conferences/?conf=mt22014">EasyChair</a> by <strong>Wednesday 21st May</strong>.</p>
      
      <p>We plan to accept all applications to participate in the workshop. (The application process and submission in advance of the workshop are intended to help us to make arrangements for the day).</p>
      
      <p>Should we receive many more applications than is feasible for the format of the workshop, we will not be able to accept all applications. In this case, the presentations will be used to prioritise applications that provide diversity in experience and backgrounds.</p>
    </div>
  </div>
</div>

