<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Important Dates</h2>
      <table class="table">
        <tr>
          <td><strong>Presentation submission deadline</strong></td>
          <td><s>21 May 2014</s><br/>30 May 2014</td>
        </tr>
        <tr>
          <td>Notification</td>
          <td>4 Jun 2014</td>
        </tr>
        <tr>
          <td><a href="http://stafconferences.info">STAF early bird registration deadline</a></td>
          <td>9 Jun 2014</td>
        </tr>
        <tr>
          <td><a href="http://stafconferences.info">STAF standard registration deadline</a></td>
          <td>6 Jul 2014</td>
        </tr>
        <tr>
          <td>Workshop</td>
          <td>22 Jul 2014</td>
        </tr>
      </table>
    </div>
    
    <div class="col-md-4">
      <h3>Organisers</h2>
      <ul>
        <li><a href="http://www.cs.york.ac.uk/~louis">Louis Rose</a>, University of York</li>
        <li><a href="http://www.cs.york.ac.uk/~rda">Rob Alexander</a>, University of York</li>
        <li><a href="http://www.cs.york.ac.uk/~jac">John Clark</a>, University of York</li>
      </ul>
    </div>
  </div>
</div>

