<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Draft Programme</h3>
      
      <table class="table">
        <tr>
          <td>0900 - 1030</td>
          <td>ICMT keynote</td>
        </tr>
        <tr>
          <td>1030 - 1100</td>
          <td>Coffee</td>
        </tr>
        <tr>
          <td>1100 - 1145</td>
          <td>Welcome and short (e.g., 3 minute) introductions and position statements by participants</td>
        </tr>
        <tr>
          <td>1145 - 1230</td>
          <td>Tutorial on Mutation Testing (speaker TBC) <em>or</em> Tutorial on Model Transformation (speaker TBC)</td>
        </tr>
        <tr>
          <td>1230 - 1400</td>
          <td>Lunch</td>
        </tr>
        <tr>
          <td>1400 - 1530</td>
          <td>STAF keynote</td>
        </tr>
        <tr>
          <td>1530 - 1600</td>
          <td>Coffee break</td>
        </tr>
        <tr>
          <td>1600 - 1800</td>
          <td>Roundtable discussion of issues and opportunities</td>
        </tr>
      </table>
    </div>
  </div>
</div>

