<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Programme</h3>
      
      <table class="table">
        <tr>
          <td>0900 - 0915</td>
          <td><a href="/mt2_workshop/presentations/welcome.pdf">Welcome</a></td>
        </tr>
        <tr>
          <td>0915 - 1000</td>
          <td><strong>Tutorial on Mutation Testing, <a href="#fraser">Dr. Gordon Fraser</a></strong></td>
        </tr>
        <tr>
          <td>1000 - 1045</td>
          <td><strong>Tutorial on Model Transformation, <a href="#williams">Dr. James Williams</a></strong></td>
        </tr>
        <tr>
          <td>1045 - 1100</td>
          <td>Coffee</td>
        </tr>
        <tr>
          <td>1100 - 1230</td>
          <td><strong><a href="#position_statements">Position statements</a></strong></td>
        </tr>
        <tr>
          <td>1230 - 1400</td>
          <td>Lunch</td>
        </tr>
        <tr>
          <td>1400 - 1500</td>
          <td><strong>Roundtable discussion of issues and opportunities</strong></td>
        </tr>
        <tr>
          <td>1500 - 1530</td>
          <td><strong>Decide on discussion groups</strong></td>
        </tr>
        <tr>
          <td>1530 - 1600</td>
          <td>Coffee break</td>
        </tr>
        <tr>
          <td>1600 - 1700</td>
          <td><strong>Group discussions</strong></td>
        </tr>
        <tr>
          <td> </td>
          <td><strong>Summary of group discussions</strong></td>
        </tr>
      </table>
      
      <h3>Invited Speakers</h3>
      <p><strong><a name="fraser"></a>Gordon Fraser</strong> is a lecturer in Computer Science at the University of Sheffield, UK. He received a PhD in computer science from Graz University of Technology, Austria, in 2007. The central theme of his research is improving software quality, and his recent research concerns the prevention, detection, and removal of defects in software. More specifically, he develops techniques to generate test cases automatically using search-based and constraint-based approaches, and to guide the tester in validating the output of tests by producing test oracles and specifications, for example using mutation analysis. Website: <a href="http://staffwww.dcs.shef.ac.uk/people/G.Fraser/">http://staffwww.dcs.shef.ac.uk/people/G.Fraser/</a></p>
      
      <p><strong><a name="williams"></a>James Williams</strong> is a Research Associate in the Department of Computer Science at the University of York, UK, from where he also he received his PhD. His PhD research focused on devising an encoding for MDE models that enables metaheuristic search techniques to be applied to MDE problems. For instance, one could use the encoding to automatically search for an appropriate set of models to test a model transformation. James currently works on the OSSMETER EU STREP project, where he is responsible for developing a platform for applying metric analysis to open-source software projects, with the ultimate aim of assessing, comparing and improving their quality.Website: <a href="http://www.jamesrobertwilliams.co.uk/about.htm">http://www.jamesrobertwilliams.co.uk</a></p>
      
      <h3><a name="position_statements"></a>Position statements</h3>
      <ol id="position_statements">
        <li>
          Gordon Fraser (University of Sheffield)
          <br/>
          <a href="/mt2_workshop/presentations/mt22014_submission_0.pdf">Mutation analysis beyond quality estimation</a>
        </li>
        <li>
          Antonio Garc&iacute;a-Dom&iacute;nguez (University of C&aacute;diz)
          <br/>
          <a href="/mt2_workshop/presentations/mt22014_submission_1.pdf">Practical aspects for mutation testing of model transformations?</a>
        </li>
        <li>
          Haitao Dan (University College London)
          <br/>
          <a href="/mt2_workshop/presentations/mt22014_submission_2.pdf">Scenario-based models and mutation testing</a>
        </li>
        <li>
          Jean-Marie Mottu (University of Nantes)
          <br/>
          <a href="/mt2_workshop/presentations/mt22014_submission_3.pdf">Mutation testing and model transformation</a>
        </li>
        <li>
          Simon Poulding (Blekinge Institute of Technology)
          <br/>
          <a href="/mt2_workshop/presentations/mt22014_submission_4.pdf">Using mutation to guide the optimisation of model transformation testing strategies</a>
        </li>
        <li>
          ￼Mike Papadakis (University of Luxembourg)
          <br/>
          <a href="/mt2_workshop/presentations/mt22014_submission_5.pdf">Mutation-based test generation and fault localization</a>
        </li>
        <li>
          Muzaffar Igamberdiev (University of South Australia)
          <br/>
          <a href="/mt2_workshop/presentations/mt22014_submission_6.pdf">Model transformation verification by design for information interoperability</a>
        </li>
        <li>
          Ren&eacute; Just (University of Washington)
          <br/>
          <a href="/mt2_workshop/presentations/mt22014_submission_7.pdf">New domains for -- and acceptance of -- mutation testing</a>
        </li>
        <li>
          Antonio Vallecillo (University of M&aacute;laga)
          <br/>
          <a href="/mt2_workshop/presentations/mt22014_submission_8.pdf">Formal specification and testing of model transformations</a>
        </li>
        <li>
          Rob Alexander (University of York)
          <br/>
          <a href="/mt2_workshop/presentations/mt22014_submission_10.pdf">Mutation testing for Belief-Desire-Intention agents </a>
        </li>
        <li>
          Louis Rose (University of York)
          <br/>
          <a href="/mt2_workshop/presentations/mt22014_submission_9.pdf">Using model transformation for mutation testing</a>
        </li>
      </ol>
      
      <h3><a name="discussion"></a>Discussions</h3>
      <ul>
        <li><a href="/mt2_workshop/presentations/roundtable.pdf">Summary of roundtable discussion</a>
        <li><a href="/mt2_workshop/presentations/classification.pdf">Louis et al.'s classification of the roundtable discussion</a></li>
        <li><a href="/mt2_workshop/presentations/flowchart.pdf">Rob et al.'s flowchart</a></li>
        <li><a href="/mt2_workshop/presentations/goals.pdf">John et al.'s goals</a></li>
      </ul>
      
      <p></p>
      
      
      
    </div>
  </div>
</div>

