<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Draft Programme</h3>
      
      <table class="table">
        <tr>
          <td>0900 - 0915</td>
          <td>Welcome</td>
        </tr>
        <tr>
          <td>0915 - 1000</td>
          <td><strong>Tutorial on Mutation Testing (speaker TBC)</strong></td>
        </tr>
        <tr>
          <td>1000 - 1045</td>
          <td><strong>Tutorial on Model Transformation (speaker TBC)</strong></td>
        </tr>
        <tr>
          <td>1045 - 1100</td>
          <td>Coffee</td>
        </tr>
        <tr>
          <td>1145 - 1230</td>
          <td><strong>Short introductions and position statements by participants</strong></td>
        </tr>
        <tr>
          <td>1230 - 1400</td>
          <td>Lunch</td>
        </tr>
        <tr>
          <td>1400 - 1500</td>
          <td><strong>Roundtable discussion of issues and opportunities</strong></td>
        </tr>
        <tr>
          <td>1500 - 1530</td>
          <td><strong>Decide on discussion groups</strong></td>
        </tr>
        <tr>
          <td>1530 - 1600</td>
          <td>Coffee break</td>
        </tr>
        <tr>
          <td>1600 - 1700</td>
          <td><strong>Group discussions</strong></td>
        </tr>
        <tr>
          <td>1700 - 1730</td>
          <td><strong>Summary of group discussions</strong></td>
        </tr>
      </table>
    </div>
  </div>
</div>

