<% wrap_layout :base do %>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Mutation Testing and Model Transformation (MT^2)</h2>
          <p>
            An interactive workshop on combining mutation testing and model transformation.
          </p>
    
          <p>
            Part of the
            <a href="http://stafconferences.info">Software Technologies: Applications and Foundations (STAF)</a>
          federated conferences.</p>

          <p>Hosted at the University of York, United Kingdom on 22nd July 2014.</p>
    
        </div>
      </div>

      <div class="row" style="margin-top: 1em;">
        <div class="col-md-3 text-center">
          <%= link_to 'Call for Participation', '/mt2_workshop/cfp.html', class: 'btn btn-info btn-lg' %>
        </div>
        <div class="col-md-3 text-center">
          <%= link_to 'Programme', '/mt2_workshop/programme.html', class: 'btn btn-info btn-lg' %>
        </div>
        <div class="col-md-3 text-center">
          <%= link_to 'Registration', 'http://stafconferences.info', class: 'btn btn-info btn-lg' %>
        </div>
      </div>
    </div>
  </div>

  <%=yield%>
<% end%>