$navbar-inverse-bg: #006E2E;
$navbar-inverse-link-color: #F9F7ED;

@import "bootstrap";

body {
  padding-top: 50px;
}

pre {
  padding: 0;
  margin-bottom: 2em;
}

#content {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: normal;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.45;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.footnotes {
  border-top: 1px solid #aaa;
  margin-top: 2em;
  padding-top: 0.66em;
  font-size: 80%
}