<% wrap_layout :layout do %>
  <section style="padding: 150px 0">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                <%=yield%>
              </div>
          </div>
      </div>
  </section>
<% end %>
