<% wrap_layout :without_nav do %>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Mutiny</a>
          </div>

          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li id="overview">
                      <a href="/">Overview</a>
                  </li>
                  <li id="articles">
                      <a href="/articles">Articles</a>
                  </li>
                  <li id="tutorial">
                      <a href="/tutorial">Tutorial</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <%=yield%>
<% end %>
